In [61]:
import pandas as pd
import nhanes
import importlib
importlib.reload(nhanes)

In [68]:
df = nhanes.load_household_adult_file()
df

,SEQN,DMPFSEQ,DMPSTAT,DMARETHN,DMARACER,DMAETHNR,HSSEX,HSDOIMO,HSAGEIR,HSAGEU,...,HAZA10,HAZA11A,HAZA11AR,HAZA11B,HAZA11BR,HAZA12,HAZMNK1R,HAZNOK1R,HAZMNK5R,HAZNOK5R
0,3,3872,2,3,1,1,1,1,21,2,...,NaN,NaN,118.0,NaN,60.0,NaN,120.0,6.0,67.0,6.0
1,4,4115,2,3,1,1,2,3,32,2,...,NaN,NaN,130.0,NaN,88.0,NaN,126.0,6.0,86.0,6.0
2,9,4064,2,1,1,3,2,3,48,2,...,NaN,NaN,134.0,NaN,76.0,NaN,131.0,6.0,73.0,6.0
3,10,5386,2,1,1,3,1,8,35,2,...,NaN,NaN,136.0,NaN,94.0,NaN,130.0,6.0,82.0,6.0
4,11,8142,2,3,1,1,1,2,48,2,...,NaN,NaN,122.0,NaN,70.0,NaN,120.0,6.0,70.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20045,53594,13264,2,1,1,3,2,8,26,2,...,1.0,119.0,120.0,80.0,80.0,1.0,124.0,6.0,83.0,6.0
20046,53595,15315,1,3,1,1,1,11,32,2,...,1.0,127.0,128.0,80.0,80.0,1.0,127.0,3.0,79.0,3.0
20047,53616,19945,2,1,1,3,1,11,85,2,...,NaN,NaN,136.0,NaN,78.0,NaN,157.0,6.0,94.0,6.0
20048,53618,18007,1,1,1,3,2,4,79,2,...,1.0,152.0,152.0,82.0,82.0,3.0,155.0,3.0,83.0,3.0
20049,53623,13061,2,2,2,3,2,5,17,2,...,1.0,102.0,102.0,63.0,64.0,1.0,105.0,6.0,60.0,6.0

In [67]:
cols = nhanes.load_cols()
cols

,description,variable,position,end position,length
0,Sequence number,SEQN,1,5.0,5
1,Family sequence number,DMPFSEQ,6,10.0,5
2,Examination/interview status,DMPSTAT,11,NaN,1
3,Race-ethnicity,DMARETHN,12,NaN,1
4,Race,DMARACER,13,NaN,1
...,...,...,...,...,...
1233,BP statement read to SP (years 5 and 6),HAZA12,3336,NaN,1
1234,Average K1 BP from household and MEC,HAZMNK1R,3337,3339.0,3
1235,Number of BP's used for average K1,HAZNOK1R,3340,3341.0,2
1236,Average K5 BP from household and MEC,HAZMNK5R,3342,3344.0,3
1237,Number of BP's used for average K5,HAZNOK5R,3345,3346.0,2

In [82]:
cols[cols.description.str.contains('(?:smok|cig)')]

,description,variable,position,end position,length
259,Anyone living here smoke cigs in home,HFF1,1356,NaN,1
260,# persons who smoke cigarettes in home,HFF2R,1357,1358.0,2
261,Cigarettes per day person 1 smokes,HFF3A,1359,1361.0,3
262,Cigarettes per day person 2 smokes,HFF3B,1362,1364.0,3
263,Cigarettes per day person 3 smokes,HFF3C,1365,1367.0,3
264,Cigarettes per day person 4 smokes,HFF3D,1368,1370.0,3
265,Cigarettes per day person 5 smokes,HFF3E,1371,1373.0,3
266,Cigarettes per day person 6 smokes,HFF3F,1374,1376.0,3
419,Doctor told stop smoking for HBP,HAE4D3,1606,NaN,1
428,Now quit smoking for high blood pressure,HAE5D3,1615,NaN,1
862,Have you smoked 100+ cigarettes in life,HAR1,2281,NaN,1
863,Age when you started smoking regularly,HAR2,2282,2284.0,3
864,Do you smoke cigarettes now,HAR3,2285,NaN,1
865,# cigarettes smoked per day,HAR4S,2286,2288.0,3
866,How many yrs have you smoked this amount,HAR5,2289,2291.0,3
867,Ever period of 1+ years when smoked more,HAR6,2292,NaN,1
868,# cigarettes per day when smoking most,HAR7S,2293,2296.0,4
869,How many years did you smoke that amount,HAR8,2297,2299.0,3
870,Ever quit smoking for one year or longer,HAR9,2300,NaN,1
871,How many years not smoked since started,HAR10,2301,2303.0,3
872,Age last smoke cigarettes reg -- yrs,HAR11R,2304,2306.0,3
873,# cigarettes smoked per day at that time,HAR12S,2307,2309.0,3
874,"Quit smoking,health problem from smoking",HAR13,2310,NaN,1
886,Ever smoke at least 20 cigars in life,HAR23,2330,NaN,1
887,Do you now smoke cigars,HAR24,2331,NaN,1
888,How many cigars do you smoke per day,HAR25,2332,2333.0,2
889,Ever smoke 20 pipes of tobacco in life,HAR26,2334,NaN,1
890,Do you now smoke a pipe,HAR27,2335,NaN,1
891,How many pipefuls tobacco smoke per day,HAR28,2336,2337.0,2
902,"At work, hours per day can smell smoking",HAS14,2354,2355.0,2
1200,Have you smoked cigarettes last 30 min,HAZA2A4,3269,NaN,1

In [88]:
cols[cols.description.str.contains('weight|pounds') & ~cols.description.str.contains('(sample|interview|weighting|exam)')]

,description,variable,position,end position,length
210,Mother's weight calculated in pounds,HFC2S,1300,NaN,1
212,Father's weight calculated in pounds,HFC4S,1302,NaN,1
414,Doctor told control/lose weight for HBP,HAE4B,1601,NaN,1
424,Now controlling or losing weight for HBP,HAE5B,1611,NaN,1
435,Doctor told lose weight for HBC,HAE8B,1622,NaN,1
439,Now losing weight to lower cholesterol,HAE9B,1626,NaN,1
444,"On own for HBC, controlled/lost weight",HAE11B,1631,NaN,1
599,Difficulty lifting or carrying 10 pounds,HAH4,1807,NaN,1
705,Consider self over/under/right weight,HAM11,1964,NaN,1
707,Tried to lose weight in past 12 months,HAM13,1966,NaN,1
953,"In the past month, did you lift weights",HAT16,2442,NaN,1
954,Lift weights activity - intensity rating,HAT16MET,2443,NaN,1
955,"Past mo, how often did you lift weights",HAT17S,2444,2447.0,4
1192,"Observed SP:overweight, average, or thin",HAY11J,3232,NaN,1